.post-container {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 30px;
  }
  position: relative;
}

.confetti-container {
  position: absolute;
  width: 100%;
  left: 0;
}

.inner-hero.inner-block {
  background-color: $white;
  padding: 200px 0 100px;

  p {
    margin: 30px 0;
  }
}

.breadcrumbs a {
  font-size: 24px;
  font-family: $main-font;
  color: $highlight;
  text-decoration: none;
  margin-bottom: 15px;
  display: flex;
}

.post-columns {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  li {
    list-style: circle;
  }

  .sidebar {
    .inner {
      position: sticky;
      top: 30px;
    }

    h3 {
      margin-top: 0;
      font-weight: bold;
    }

    h4 {
      padding-bottom: 10px;
      border-bottom: 2px solid $highlight;
      font-family: $titles;
      font-size: 18px;
      position: relative;
      cursor: pointer;
      width: 100%;
    }
  }
}

@media only screen and (min-width: 768px) {
  .post-columns {
    grid-template-columns: 3fr 1fr;
  }
}

.category-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 30px;

  span.category {
    color: $highlight;
    padding: 0.5rem 2.75rem;
    border: 1px solid $highlight;
    border-radius: 10px;
    text-transform: capitalize;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: clamp(14px, 2vw, 16px);
  }
}
