@import "variables.scss";
@import "fonts.scss";
@import "reset.scss";
@import "components.scss";
@import "pages.scss";

h1 {
  margin: 0;
  color: $black;
  font-family: $titles;
  font-size: clamp(35px, 8vw, 80px);

  strong {
    font-weight: bold;
  }
}

h2 {
  font-family: $titles;
  font-size: clamp(32px, 5vw, 52px);
}

h3 {
  font-family: $titles;
  font-size: 24px;
  color: $black;
  margin-bottom: 15px;
}

p {
  font-family: $main-font;
  font-size: 16px;
  line-height: 24px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.react-loading-skeleton {
  margin-bottom: 20px;
}

html {
  scroll-behavior: smooth;
}

body .wp-site-blocks > * + * {
  margin: 0;
}

body .wp-site-blocks {
  padding: 0;
}

.main-margin {
  margin: 0px auto;
  max-width: 1200px;
  padding: 0px 30px;
}

footer {
  padding: 30px 0;
  display: flex;
  justify-content: flex-start;

  .main-margin {
    width: 100%;
  }

  a {
    text-align: left;
    font-family: $titles;
    color: $black;
  }
}

.main-cta {
  display: flex;
  padding: 15px 25px;
  font-family: $main-font;
  width: fit-content;
  cursor: pointer;
  background: $highlight;
  transition: $transition;
  border: 2px solid transparent;
  font-weight: bold;
  font-size: 14px;

  &:hover {
    background: $highlight;
    border-color: $white;
    color: $white;
  }
}

.inner-block {
  padding: 60px 0px;
}

@media only screen and (min-width: 1000px) {
  .inner-block {
    padding: 100px 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .main-margin {
    padding: 0 50px;
  }

  .inner-block {
    padding: 80px 0px;
  }
}
