$background-dark: #13005a;
$background-mid: #00337c;
$background-light: #00337c;
$highlight: #03c988;
$highlight-hover: #11d694;
$white: #f0f0f0;
$main-font: "Inter", sans-serif;
$titles: "Recoleta", sans-serif;
$black: #0e1111;

// #9DFF20
