$background-dark: #051f2a;
$background-mid: #00337c;
$background-light: #00337c;
$highlight: rgb(0, 179, 255);
$white: #f0f0f0;
$main-font: "Inter", sans-serif;
$titles: "Recoleta", sans-serif;
$black: #0e1111;
$transition: 0.2s;

// #9DFF20
